
    .left-100{
        float: left;
        margin-right: 5px;
    }

    .right-100{
        float: right;
        margin-left: 5px;
        width: 100px;
    }
    

    .left-150{
        float: left;
        margin-right: 5px;
    }

    .right-150{
        float: right;
        margin-left: 5px;
        width: 150px;
    }
    

    .left-200{
        float: left;
        margin-right: 5px;
    }

    .right-200{
        float: right;
        margin-left: 5px;
        width: 200px;
    }
    

    .left-250{
        float: left;
        margin-right: 5px;
    }

    .right-250{
        float: right;
        margin-left: 5px;
        width: 250px;
    }
    

    .left-300{
        float: left;
        margin-right: 5px;
    }

    .right-300{
        float: right;
        margin-left: 5px;
        width: 300px;
    }
    

    .left-350{
        float: left;
        margin-right: 5px;
    }

    .right-350{
        float: right;
        margin-left: 5px;
        width: 350px;
    }
    

    .left-400{
        float: left;
        margin-right: 5px;
    }

    .right-400{
        float: right;
        margin-left: 5px;
        width: 400px;
    }
    

    .left-450{
        float: left;
        margin-right: 5px;
    }

    .right-450{
        float: right;
        margin-left: 5px;
        width: 450px;
    }
    

    .left-500{
        float: left;
        margin-right: 5px;
    }

    .right-500{
        float: right;
        margin-left: 5px;
        width: 500px;
    }
    

    .left-550{
        float: left;
        margin-right: 5px;
    }

    .right-550{
        float: right;
        margin-left: 5px;
        width: 550px;
    }
    

    .left-600{
        float: left;
        margin-right: 5px;
    }

    .right-600{
        float: right;
        margin-left: 5px;
        width: 600px;
    }
    

    .left-650{
        float: left;
        margin-right: 5px;
    }

    .right-650{
        float: right;
        margin-left: 5px;
        width: 650px;
    }
    

    .left-700{
        float: left;
        margin-right: 5px;
    }

    .right-700{
        float: right;
        margin-left: 5px;
        width: 700px;
    }
    

    .left-750{
        float: left;
        margin-right: 5px;
    }

    .right-750{
        float: right;
        margin-left: 5px;
        width: 750px;
    }
    

    .left-800{
        float: left;
        margin-right: 5px;
    }

    .right-800{
        float: right;
        margin-left: 5px;
        width: 800px;
    }
    



.my-table-100 {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-150 {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-200 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-250 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-300 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-350 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-400 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-450 {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-500 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-550 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-600 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-650 {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-700 {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-750 {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
    

.my-table-800 {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
    


